In [54]:
from sqlalchemy import create_engine
import pandas as pd
import sqlite3

# sqlite approach
#conn = sqlite3.connect("tv_data.sqlite")

# sqlalchemy approach
engine = create_engine("sqlite:///tv_data.sqlite", echo=False)
conn = engine.connect()

# When not using Panda, it would look something like this
#cur = conn.cursor()
#cur.execute("select Title, rank() over(order by `Rating Count` DESC) as Rank, `Rating Count` from TvShows limit 5;")
#results = cur.fetchall()
#print(results)

# comment out each one, one-by-one to test the queries

# Top 10 shows - take off the limit to see everything
top10shows = pd.read_sql_query("SELECT Title, RANK() OVER(ORDER BY `Rating Count` DESC) as Rank, `Rating Count` from TvShows LIMIT 10;", conn)
top10shows

# Where are TV show most popular, compartively-speaking
popByCountry = pd.read_sql_query("SELECT Country, AVG(Popularity) as 'Avg Pop', RANK() OVER (ORDER BY AVG(Popularity) DESC) as Rank from TvShows GROUP BY Country", conn)
popByCountry

   Country    Avg Pop  Rank
0       CO  52.471682     1
1       DK  42.462143     2
2       BG  34.246000     3
3       MX  29.080077     4
4       ES  28.870167     5
5       PR  25.251000     6
6       US  24.747987     7
7       BE  21.213200     8
8       DE  19.110114     9
9       JP  16.801522    10
10      BR  15.033450    11
11      NZ  14.266588    12
12      CA  12.978384    13
13      NO  11.750429    14
14      AR  11.657267    15
15      IT  11.330450    16
16      TR  10.984850    17
17      KR  10.211067    18
18      FR   9.498929    19
19      GB   9.409475    20
20      SU   9.409000    21
21      CN   7.345561    22
22      UA   7.315000    23
23      RU   7.271647    24
24      IE   7.249286    25
25      IQ   6.895000    26
26      CH   6.783667    27
27      NL   6.481000    28
28      AU   6.272000    29
29      SE   6.053900    30
30      IS   5.826500    31
31      IL   5.216375    32
32      IN   5.025360    33
33      FI   4.847667    34
34      ID   4.439000    35
35      ZA   4.409000    36
36      PL   4.249667    37
37      AT   3.588500    38
38      TH   2.843750    39
39    None   2.622728    40
40      HR   2.206000    41
41      TW   2.065267    42
42      CZ   1.788000    43
43      PK   1.769333    44
44      IO   1.767800    45
45      CL   1.741571    46
46      CU   1.702000    47
47      PH   1.252400    48
48      MY   1.235000    49
49      SA   0.964000    50
50      SG   0.812250    51
51      PT   0.804000    52
52      HK   0.600000    53
53      EG   0.600000    53